name: Check Optional Dependencies

on:
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel uv
        uv pip install pytest --system
    - name: Run Base Install
      run: |
        uv pip install -e . --system
    - name: Run Checks
      run: |
        python tests/scripts/check_pip.py missing cvxpy
        python tests/scripts/check_pip.py installed scikit-learn
        python tests/scripts/import_all.py
    - name: Install cvxpy
      run: |
        uv pip install -e ".[cvxpy]" --system
    - name: Run Checks
      run: |
        python tests/scripts/check_pip.py installed cvxpy scikit-learn
        python tests/scripts/import_all.py
    - name: Install All
      run: |
        uv pip install -e ".[all]" --system
    - name: Run Checks
      run: |
        python tests/scripts/check_pip.py installed cvxpy formulaic scikit-learn umap-learn
    - name: Docs can Build
      run: |
        sudo apt-get update && sudo apt-get install pandoc
        uv pip install -e ".[docs]" --system
        mkdocs build
