name: Render Docs

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v1
    - name: setup ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: install
      run: |
        sudo apt-get update && sudo apt-get install pandoc
        python -m pip install --upgrade pip
        pip install -e ".[docs]"
    - name: build docs
      run: sphinx-build doc docs
