name: Cron Test Dependencies

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  cron:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10"]
        os: [macos-latest, ubuntu-latest, windows-latest]
        pre-release-dependencies: ["--pre", ""]
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel
        pip install ${{ matrix.pre-release-dependencies }} scikit-lego
        pip freeze
    - name: Test with pytest
      run: |
        pip install -e ".[test]"
        pytest -n 2 tests
