name: Linting

on:
  push:

jobs:
  linting-python:
    name: Lint Python
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install Dependencies
        run: python -m pip install ruff==0.11.7 --no-cache-dir
      - name: Run Ruff
        run: make lint
